<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>关于</title>
    <link rel="stylesheet" href="/public/main.css">
    <link rel="stylesheet" href="/public/index.css">
    <link rel="icon" href="/public/logo.jpeg">
</head>
<body>
<%- include('components/header') %>
<main>
   <div style="width: 100%;">
       <h2 style="text-align: center">关于</h2>
       <hr>
       <%- htmlContent %>
   </div>
</main>
<%- include('components/footer') %>
</body>
</html>
